:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: #fff;

  animation: all 0.5s ease-in-out;
}

a:hover {
  color: rgb(95 158 160);
  transform: scale(0.9);
}

#app {
  display: flex;
  justify-content: center;
}

.status-bar {
  width: 100%;
  height: 3.125rem;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.loading-bar {
  width: 100%;
  height: 10px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  opacity: 100%;
  cursor: pointer;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.message {
  font-size: 14px;
  margin-top: 10px;
}

.success-popup {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.success-popup > p {
  text-align: center;
}

.success-popup > p > span {
  text-decoration: underline;
}

.success-popup.show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;

  animation: popup-animation 0.9s ease-in-out;
}

.loading-bar:hover {
  opacity: 50%;
  transition: 1s;
}

@keyframes popup-animation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
